body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 29%);
}
header {
  height: 37px;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
label {
  text-align: center;
}
h1 {
  text-align: center;
}
header a {
  color: rgb(255, 237, 77);
  text-decoration: none;
  margin: 0 15px;
}
header a:hover {
  text-decoration: underline;
}
header .navbar {
  display: flex;
  align-items: center;
}
header .navbar section {
  display: flex;
}
main {
  background: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 101px; /* To avoid overlap with fixed header */
  margin-bottom: 102px; /* To avoid overlap with fixed footer */
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 5px;
}
input,
select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}
button[type="submit"] {
  background-color: #28a745;
  color: #fff;
}
button[type="submit"]:hover {
  background-color: #218838;
}
button[type="reset"] {
  background-color: #dc3545;
  color: #fff;
}
button[type="reset"]:hover {
  background-color: #c82333;
}
#result {
  margin-top: 10px;
}
.italic-p {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 27px;
  font-weight: lighter;
}
footer {
  height: 65px;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
footer a {
  color: rgb(255, 237, 77);
  text-decoration: none;
}
#calculation-method {
  margin-top: 10px;
  font-style: italic;
}
img {
  padding-left: 20px;
  height: 48px;
  width: 50px;
}
